<app-topdashboard></app-topdashboard>
<div class="container">
    <div class="header">
        <h2>COURSE: HIST 151 - HISTORY OF THE WEST AND THE WORLD</h2>
        <div class="filter-bar-component"></div>
    </div>

    <div class="card-display-container">
        <app-single-course-info></app-single-course-info>
        <app-single-course-info></app-single-course-info>
        <app-single-course-info></app-single-course-info>
        <app-single-course-info></app-single-course-info>
    </div>

</div>
