<div class="single-course-container" (click)="showNotesPage(detailedCourseTitle)">

    <div class="course-name-container">
        <mat-icon class="icon trending-icon">trending_down</mat-icon>
        <span class="card-text">{{detailedCourseTitle}}</span>
    </div>

    <div class="profs-container">
        <mat-icon class="icon">person_outline</mat-icon>
        <span class="card-text">Profs: {{professors}}</span>
    </div>

    <div class="contributors-comments-wrapper">
        <div class="contributors-container">
            <mat-icon class="icon">group</mat-icon>
            <span class="card-text">Contributors: {{contributors}}</span>
        </div>
        <div class="comments-rating-container">
            <mat-icon class="icon"> comment</mat-icon>
            <span class="comment-rating-number">0</span>
            <mat-icon class="icon"> thumb_up</mat-icon>
            <span class="comment-rating-number">0</span>
        </div>
    </div>

</div>
