<div class="single-course-container">

    <div class="course-name-container">
        <mat-icon class="icon trending-icon">trending_down</mat-icon>
        <span class="card-text">HIST 153 - EXPLORATIONS IN WORLD HISTORY</span>
    </div>
    
    <div class="profs-container">
         <mat-icon class="icon">person_outline</mat-icon>
        <span class="card-text">Profs: Victor Norman, Keith Vander Linden</span>
    </div>

    <div class="contributors-comments-wrapper">
        <div class="contributors-container">
            <mat-icon class="icon">group</mat-icon>
            <span class="card-text">Contributors: Bernard Boadu, Alfred A Marfo</span>
        </div>
        <div class="comments-rating-container">
            <mat-icon class="icon"> comment</mat-icon>
            <span class="comment-rating-number">10</span>
            <mat-icon class="icon"> thumb_up</mat-icon>
            <span class="comment-rating-number">100</span>
        </div>
    </div>

</div>
