

.menu{
    border: solid;
    border-width: 1px;
    border-color:gray;
    border: 1px solid grey;
    margin: 5px;
    height: 28px;
    margin-top: 75px;




    
}

.image{
    border-bottom: 600px;
}