.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 700px;
    border: 1px solid black;
    grid-gap: 1 px;

    
    
}

p {
    color: black;
    font-size: 19px;
    margin-top: 90px;
    
}

.icon{

    margin-top:100px

}

