<mat-toolbar class="toolbar" color="primary">
    <mat-toolbar-row>
        <div class="links-container">
            <!-- <button mat-icon-button [routerLink]="'/contact'" class="profiles-icon">
                <mat-icon>person</mat-icon>-->

            <a mat-button [routerLink]="''">HOME </a>
            <a mat-button [routerLink]="'/courses'"> COURSES </a>
            <a mat-button [routerLink]="'/notes'"> NOTES </a>
            <!-- <a mat-button [routerLink]="'/contact'"> CONTACT</a>-->
            <a mat-button [routerLink]="'/aboutus'"> ABOUT US</a>
        </div>
    </mat-toolbar-row>
</mat-toolbar>