<meta name="viewport" content="width=device-width, initial-scale=1">
<body>
    <app-topdashboard></app-topdashboard>
    <div class="cards-container">
        <div class="column">
            <app-note-card></app-note-card>
        </div>
        <div class="column">
            <app-note-card></app-note-card>
        </div>
        <div class="column">
            <app-note-card></app-note-card>
        </div>
        <div class="column">
            <app-note-card></app-note-card>
        </div>
    </div>
    <div class="cards-container">
        <div class="column">
            <app-note-card></app-note-card>
        </div>
        <div class="column">
            <app-note-card></app-note-card>
        </div>
        <div class="column">
            <app-note-card></app-note-card>
        </div>
        <div class="column">
            <app-note-card></app-note-card>
        </div>
    </div>
</body>




